.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-link {
  color: #09d3ac;
}
.div-width{
  margin-right: 20em;
  margin-left: 20em;
}
.footer a{
  text-decoration: none
}
.footer a:hover{
  color:
}
